*{
    margin: 0;
    padding: 0;
}
 
body{
    
    background-image: url(../Imagenes/Fondos_logo/blue-halftone-pop-art-comic-background-vector.jpg);
    background-size: cover;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.contenedor-imagenes{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img{
    height: 100px;
    width: 100px;
}

ul{
    display: block;
    list-style-type:disc ;
    margin-top: 1em; 
    margin-bottom: 1em;
    margin-left:0;
    margin-right: 0;
    padding-left:40px ;
}

th td{
    padding: 15px;
    text-align: left;
    border-bottom: 2px solid #ffffff;

}

a{
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    background-color: transparent;
    border: 2px solid #ffffff00;
    color: rgb(255, 255, 255);
}


#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}
.imagenes{
    height: 500px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}
@-moz-keyframes automatizacion {
    0% {
        margin-left: 50px;
    }
    30% {
        margin-left:  50px;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left:  50px;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left:  50px;
    }
    30% {
        margin-left:  50px;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left:  50px;
    }
}
@keyframes automatizacion {
    0% {
        margin-left:  50px;
    }
    30% {
        margin-left:  50px;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left:  50px;
    }
}
